.perspective-wrapper {
  perspective: 1000px;
}

.calendar-3d-card {
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out; /* smooth following */
}

/* Hover 3D tilt animation */
.calendar-3d-card:hover {
  transform: rotateY(-10deg) rotateX(6deg) translateZ(10px);
}

.card-border-animation {
  position: relative;
  background-size: 200% 100%;
  animation: border-flow 6s linear infinite;
  border-radius: 1rem;
  padding: 3px;
  will-change: background-position;
  transform: translateZ(0);
}

.card-border-animation.purple {
  background-image: linear-gradient(90deg,
      purple,
      white,
      blue);
}