/* Custom dark scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f1f1f; /* track color */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #00caeb; /* thumb color */
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #00e0ff; /* thumb hover color */
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #00caeb #1f1f1f;
}
