@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lovelo';
  src: url('/src/assets/fonts/Lovelo/lovelo_black.otf') format('truetype');
  font-weight: 900;
  /* Black weight */
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}
